
* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
    line-height: 1.6;
}

header {
    background: #000;
    padding: 1.5rem;
    text-align: center;
    border-bottom: 3px solid red;
}

header h1 { margin: 0; color: red; font-size: 1.8rem; }


nav {
    background: #111;
    padding: 0.8rem;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9rem;
    font-weight: bold;
}

nav a:hover { color: red; }

main { padding: 1rem; }


form {
    background: #1a1a1a;
    padding: 1.5rem;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

label { display: block; margin-top: 1rem; }

input, select, textarea {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.4rem;
    background: #000;
    border: 2px solid #333;
    color: white;
    border-radius: 6px;
    font-size: 16px;
}

button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.8rem;
    background: red;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: 2rem auto;
}

.card {
    background: #1a1a1a;
    padding: 1.5rem;
    border-radius: 10px;
    border-left: 5px solid red;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* --- MEDIA QUERIES (3 MEDIDAS) --- */

/* Tablet (desde 600px) */
@media (min-width: 600px) {
    header h1 { font-size: 2.5rem; }
    form { max-width: 500px; }
    nav a { font-size: 1rem; margin: 0 20px; }
}

/* PC (desde 1024px) */
@media (min-width: 1024px) {
    main { padding: 3rem; }
    .card:hover {
        transform: scale(1.03);
        transition: 0.3s;
    }
}